.slider-bar-icon:hover {
    background-color: #D8D8D8;
    border-radius: 40px;
}
.selected {
    color: #0078AE;
    background-color: #F1F1F1;
    border-radius: 40px;
}
.other-menu {
    width: 49px;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 28px;
    left: 10px;
}
.other-menu li {
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    font-size: 12px;
    font-weight: 600;
    color: '#1D2C41';
    text-align: center;
    cursor: pointer;
}