.top-bar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: #FCFCFC;
}
.main-area {
    width: 100%;
    position: relative;
}
.crop-area {
    width: 100%;
    height: calc(100vh - 48px);
    position: absolute;
    top: 0;
    left: 0;
}